
<script>
var bVsvReplace = false;
</script>

	<pre class="markdown">
# VSV Examples

<a href=".">VSV</a> is easily converted to lists, tables, xml, and json.

(Also view the other formats, including playlist, subtitle, site summary, object notation, above in the navigation bar.)

In the examples below, each VSV code block precedes their corresponding output after the code has been parsed in javascript. Comments are basically unclosed header fields. Style to your taste.

</pre>

<h2>VSV to list</h2>

<span class="class">class="vsv2list"</span>

<h3>List with no headers</h3>

<code class="vsv2list"><?php includeVsv('list1.vsv'); ?></code>

<h3>List with headers</h3>

<code class="vsv2list"><?php includeVsv('list2.vsv'); ?></code>

<code class="vsv2list"><?php includeVsv('list3.vsv'); ?></code>

<h3>Nested Lists</h3>

Two ways to make nested lists: with and without headers. Presence of a header field (excluding the filetype header) will determine whether headers are used for the remaining of the list. Mixing both methods can lead to unpredictable results.

<h4>Nested Lists without Headers</h4>

Each consecutive delimiter (null data) at the beginning of the row will indent one tier.

<code class="vsv2list"><?php includeVsv('list4.vsv'); ?></code>

<h4>Nested Lists with Headers</h4>

<code class="vsv2list"><?php includeVsv('list5.vsv'); ?></code>

<h2>VSV to table</h2>

<span class="class">class="vsv2table"</span>

<h3>Table with headers and data</h3>

<p>Header rows hold any number of header fields. They become column headers in the resulting table.<p>
<p>Captions for the table can be created in header fields when preceded by double ticks ``. A second double-ticks will signify the position of the caption. Use 'lcr' to align the caption left, center, or right, respectively. Use 'tb' to place the caption above or below the table, respectively. The default is 'ct'.</p>
<p>A table may have more than one caption.</p>
<p>Choose your own delimiters for data rows -- anything but space.</p>

<code class="vsv2table"><?php includeVsv('table1.vsv'); ?></code>

<h3>Configuration file</h3>

<code class="vsv2table"><?php includeVsv('table2.vsv'); ?></code>

<h3>Horizontal table</h3>

<code class="vsv2table"><?php includeVsv('table3.vsv'); ?></code>

<h2>VML (VSV markup language)</h2>

<span class="class">class="vsv2vml"</span>

<code class="vsv2vml"><?php includeVsv('vml1.vml'); ?></code>

<h2>VON (VSV Object Notation)</h2>

<span class="class">class="vsv2von"</span>

<code class="vsv2von"><?php includeVsv('von1.von'); ?></code>
