/*@import url('https://fonts.googleapis.com/css?family=Fondamento|Itim|Source+Code+Pro');*/



html {background-color: ivory; }
body * {font: 15pt 'Itim', sans-serif; }




/****   GRID PLACEMENT   ****/

@supports (not (display: grid)) {
	body { display: flex; flex-flow: column; }
	.logo { order: 0; width: 301px !important; margin: 0 auto;}
	#navbar { order: 1; flex-flow: row wrap; margin: 0 auto;}
	.content-main { order: 2; margin: 0 auto;}
	.content-toc { display: none; }
} /* end @supports display:flexbox */


@supports (display: grid) {
	body { display: grid; grid-template-rows: 80px auto; grid-template-columns: 301px auto; grid-gap: 7px;
		grid-template-areas:
			"logo header"
			"toc main"
		;
	}
	.logo { grid-area: logo; width: 301px !important; }
	#navbar { grid-area: header; display: inline-grid; }
	.content-toc { grid-area: toc; }
	.content-main { grid-area: main; display: inline-grid; justify-items: center; }
} /* end @supports display:grid */




/****   BOX styles   ****/
#navbar { align-items: center; /*border: 2px blue solid;*/ background-color: khaki; }
#navbar ul { max-width: 100%; }
#navbar li { display: inline-flex; margin: 0 1em; }

.content-toc { background-color: khaki; max-width: 301px;}

.content-main { padding: auto 12em; max-width: 34em; margin: auto; }




/****   TEXT STYLES   ****/

h1, h1 * {font: 21pt 'Fondamento', cursive; margin-bottom: 0em; text-align: center; background-color: violet; }
h2 {font: small-caps 21pt 'Fondamento', cursive; display: table; text-align: center; margin: 2em auto 0em; padding: 2px 2em; border: 3px solid PaleGreen; background-color: khaki; }
h3 {font: small-caps 18pt 'Fondamento', cursive; text-decoration: underline; display: table; text-align: center; margin: 1em auto 1em; padding: 2px 2em; border: 3px solid magenta; }
h4 {text-decoration: underline dotted; }

pre {white-space: pre-wrap; }
pre img {max-width: 30em; display: block; margin: auto;}
p {margin: 0em auto; max-width: 34em; text-indent: 1.5em;}
ul {max-width: 34em; margin: 0em auto;}
li {margin: 0em; }
code {white-space: pre-wrap; font: 1em "Source Code Pro", monospace; margin: auto; max-width: 34em; }


.flexbox {display: flex; flex-flow: row wrap; }
.column {outline: 1px solid black; width: 48%; min-width: 16em; padding: 5px; }


[class^=vsv] {margin-bottom: 1em; border: 1px solid black; padding: 0.4em; display: table /*box shrinks to fit contents*/; }
td, th {border: 1px solid black; padding: 3px; }
.vsvlist li {display: list-item; list-style: inside; }
pre {white-space: pre-wrap; }
.class {color: green;}
th {background-color: orange;}
.title {text-decoration: overline; text-align: center; margin-top:1em;}
